<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> -->
        <script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3.min.js') }}"></script>
    </head>
    <body style="margin-top: 12px;">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="container">
          <div class="row">
            <h4>IP Address:</h4>
              <h2>{{ request.headers.get('X-Forwarded-For', request.remote_addr) }}</h2>
          </div>
          {% if request.headers.get('User-Agent') %}
          <div class="row">
            <h4>User Agent:</h4>
              <p>{{ request.headers.get('User-Agent') }}</p>
            </div>
          {% endif %}
        </div>
        <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
    </body>
</html>
